@import "../../styles/index.scss";

.banner {
  background: url("./bg.jpg");
  width: 726px;
  height: 88px;
  background-size: cover;
  border: 1px solid rgb(56, 56, 56);

  &__link--large {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__link--small {
    height: 35px;
    top: 51px;
    left: 387px;
    width: 129px;
  }
}

.slide {

  .slide__copy {
    position: absolute;
    top: 9px;
    left: 10px;
  }

  &--0 {
    .slide__copy {
      top: 20px;
      width: 329px;
    }
  }

  &--1 {
    .slide__copy {
      width: 368px
    }
  }

  &--2 {
    .slide__copy {
      width: 347px;
    }
  }

  &--3 {
    .slide__copy {
      width: 329px;
      top: 8px;
    }
  }

  &--4 {
    .slide__copy {
      width: 350px;
    }
  }

  &--5 {
    .slide__copy {
      width: 369px;
      top: 7px;
    }
  }

  &--6 {
    .slide__copy {
      top: 20px;
      width: 329px;
    }
  }
}

.slide__cta {
  position: absolute;
  top: 64px;
  left: 636px;
  width: 66px;
}

.slide__logo {
  position: absolute;
  top: 12px;
  left: 640px;
  width: 75px;
}

.slide__tag {
  position: absolute;
  bottom: 10px;
  left: 393px;
  width: 168px;
}
