@import "../../styles/index.scss";

.banner {
  background: url("./bg.jpg");
  background-size: cover;
  width: 298px;
  height: 48px;
  border: 1px solid rgb(56, 56, 56);

  &__link--large {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__link--small {
    height: 25px;
    top: 20px;
    left: 162px;
    width: 60px;
  }
}

.slide__copy {
  left: 4px;
  position: absolute;
  top: 4px;
  width: 147px;
}

.slide {
  &--0 {
    .slide__copy {
      top: 14px;
      width: 147px;
    }
  }
  &--1 {
    .slide__copy {
      width: 152px;
    }
  }
  &--2 {
    .slide__copy {
      width: 142px;
      left:3px;
    }
  }
  &--3 {
    .slide__copy {
      width: 135px;
    }
  }
  &--4 {
    .slide__copy {
      width: 135px;
    }
  }
  &--5 {
    .slide__copy {
      width: 152px;
    }
  }
  &--6 {
    .slide__copy {
      top: 14px;
      width: 147px;
    }
  }
}

.slide__cta {
  position: absolute;
  width: 27px;
  right: 9px;
  bottom: 7px;
}

.slide__logo {
  position: absolute;
  top: 5px;
  right: 4px;
  width: 31px;
}

.slide__tag {
  position: absolute;
  bottom: 5px;
  left: 162px;
  width: 70px;
}
