@import "../../styles/index.scss";

.banner {
  width: 298px;
  height: 248px;
  overflow: hidden;
  background: url("./bg.jpg");
  background-size: cover;
  border: 1px solid rgb(56, 56, 56);

  &__link--large {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__link--small {
    height: 31px;
    width: 121px;
    top: 209px;
    left: 10px;
  }
}

.slide {

  .slide__copy {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  &--0 {
    .slide__copy {
      width: 183px
    }
  }

  &--1 {
    .slide__copy {
      width: 188px
    }
  }

  &--2 {
    .slide__copy {
      width: 207px;
      top: 11px
    }
  }

  &--3 {
    .slide__copy {
      width: 206px;
      top: 11px;
    }
  }

  &--4 {
    .slide__copy {
      width: 168px;
      top: 11px;
    }
  }

  &--5 {
    .slide__copy {
      top: 11px;
      width: 209px;
    }
  }

  &--6 {
    .slide__copy {
      width: 183px
    }
  }
}

.slide__cta {
  position: absolute;
  top: 221px;
  left: 209px;
  width: 65px;
}

.slide__logo {
  position: absolute;
  top : 10px;
  left: 233px;
  width: 56px;
}

.slide__tag {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 168px;
}